<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="GroupBuyingProject.Services.GeneralServices" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="GroupBuyingProject.Services.IGeneralServices" behaviorConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>