<div class="label" data-ng-show="allProducts.length == 0 && products.selecedProducts.length == 0">
    There are no products in the system.
</div>
<div data-ng-hide="allProducts.length == 0 && selectedProducts == 0">
    <h1>Products</h1>
    <table class="mainContentGroup">
        <tr>
            <td>
                <span class="label">Search:</span>
                <input type="text" class="bigInput labelValue" data-ng-model="products.searchQuery" data-focus="true">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="contentGroup mainContentGroup" data-drop="true" ng-model='allProducts' jqyoui-droppable="{multiple:true, applyFilter: 'filterProducts'}" data-jqyoui-options="{revert: 'invalid'}">
                <div class="card bigCard" data-ng-repeat="product in allProducts | filter:products.searchQuery"
                     title="Double click to watch product {{product.ProductId}} details." data-ng-dblclick="products.productOnClick(product.ProductId)"
                     data-drag="true" ng-model="allProducts" data-jqyoui-options="{revert: 'invalid'}"
                     jqyoui-draggable="{index: {{$index}}, applyFilter: 'filterProducts', animate:true}">
                    <span class="content label">Product Id: {{product.ProductId}}</span>
                    <table>
                        <tr>
                            <td>
                                <span class="label">Seller: </span><span class="labelValue cardLabelValue">{{product.Seller.UserName}}</span><br/>
                                <span class="label">Title: </span><span class="labelValue cardLabelValue">{{product.Title}}</span><br/>
                                <span class="label">Price Range: </span><span class="labelValue cardLabelValue">{{product.MinPrice}} - {{product.MaxPrice}} NIS</span><br/>
                            </td>
                        </tr><tr>
                        <td>
                            <img class="productImage" src="./img/products/{{product.Image}}"/>
                        </td>
                    </tr>
                    </table>
                </div>
            </td>
            <td class="contentGroup sideBar" data-ng-show="products.getUserDetails().authorized">
                <h1>Cart</h1>
                <input class="action" data-ng-show="selectedProducts.length > 0" type="button" value="Order"
                       data-ng-click="products.orderOnClick()">
                <div  class="dropArea" data-drop="true" ng-model='selectedProducts'
                    jqyoui-droppable="{multiple:true}" data-jqyoui-options="{revert: 'invalid'}">
                    <span class="labelValue" data-ng-show="selectedProducts.length == 0">To order, drop products here.</span>
                    <div class="card smallCard" ng-repeat="product in selectedProducts"
                            data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                            ng-model="selectedProducts" jqyoui-draggable="{index: {{$index}},animate:true}">
                        <span class="content label" >Product {{product.ProductId}}</span>
                        <img class="smallProductImage" src="./img/products/{{product.Image}}"><br/>
                        <input class="smallInput content" type="number" data-ng-model="product.quantity" />
                        <span class="content"><input class="" type="checkbox" data-ng-model="product.shipping"><span class="label">Shipping</span></span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>


