<form data-ng-submit="register.register()">
    <table class="contentGroup">
        <tr>
            <td colspan="2">
                <img src="./img/{{register.selectedProfile.url}}" class="content profile"/>
            </td>
        </tr><tr>
            <td>
                <span class="label">Profile:</span>
            </td><td>
                <select class="textInput labelValue" data-ng-model="register.selectedProfile" data-ng-init="register.selectedProfile = register.profiles[0]"
                    data-ng-options="profile.name for profile in register.profiles"/>
            </td>
        </tr><tr>
            <td>
                <span class="label">User Name:</span>
            </td><td>
                <input type="text" class="textInput labelValue" placeholder="User Name" maxlength="20" data-ng-model="register.userName" data-focus="true" />
            </td>
        </tr><tr>
            <td>
                <span class="label">Password:</span>
            </td><td>
                <input type="password" class="textInput labelValue" placeholder="Password" maxlength="20" data-ng-model="register.password" />
        </tr><tr>
            <td>
                <span class="label">Email:</span>
            </td><td>
                <input type="text" class="textInput labelValue" placeholder="Email" maxlength="30" data-ng-model="register.email"/>
        </tr><tr>
            <td colspan="2">
                <input type="submit" class="action content" value="Register" />
            </td>
        </tr><tr>
            <td colspan="2">
                <a class="content action" data-link-navigate="LogInPage">[LogIn]</a>
            </td>
        </tr>
    </table>
</form>